@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#logo {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: #000000;
    padding: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links {
    display: flex;
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #626b70;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1d6fa5;
}

.hello {
    text-align: center;
}

.name span {
    background: linear-gradient(to right, orange, purple);     
    background-clip: text;     
    -webkit-text-fill-color: transparent;
}

.hello {
    font-weight: bold;
    font-size: 60px;
    color: black;
}

.name {
    background: linear-gradient(to right, orange, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.imagen {
    /* height: 200px; */
    width: 300px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    nav {
        padding: 10px;
    }

    nav .links {
        gap: 0;
    }
}

.sobre-mi {
    text-align: center;
    margin: 15px;
}

.experiencia {
    /* text-align: center; */
    margin: 15px;
}

.contacto {
    margin: 15px;
}

footer {
	bottom: 0;
	background-color: #252525;
	color: #828282;
}

#credits {
	margin-bottom: 0;
    padding: 20px;
}