@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000;
    padding: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #626b70;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1d6fa5;
}

.hello {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: black;
}

.name span {
    background: linear-gradient(to right, orange, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.imagen {
    width: 100%;
    text-align: center;
}

.sobre-mi,
.experiencia,
.estudios,
.contacto {
    text-align: center;
    margin: 15px;
}

.experiencia img,
.estudios img {
    width: 100%;
    max-width: 200px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav .links {
        margin-top: 15px;
    }

    .hello {
        font-size: 40px;
    }
}
